<div class="main-container">
  <div class="master-heading">
    <div class="heading">
      <h1>MASTER's</h1>
    </div>
  </div>
  <div class="cs-container">
    <div class="cs-row cs-tabs-space">
      <app-master-add-tabs></app-master-add-tabs>
      <div class="right-data">
        <form name="form" (ngSubmit)="f.form.valid && saveProduct()" #f="ngForm" novalidate>
          <div class="contst">
            <div class="cs-heading">
              <h2>Add Accessories</h2>
            </div>
            
            <div class="form-field">
              <div class="row">
                <div class="control-field col-3">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Brand" [matAutocomplete]="brand" name="brand" [(ngModel)] = "form.brand" #brand="ngModel" required>
                    <mat-autocomplete #brand="matAutocomplete">
                      <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand.name">
                        <small>{{ brand.name }}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                
                <div class="control-field col-3">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input matInput placeholder="Accessories Name" [matAutocomplete]="product" name="product" [(ngModel)] = "form.product" #product="ngModel" required>
                    <mat-autocomplete #product="matAutocomplete">
                      <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name">
                        <small>{{ product.name }}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
        
                <div class="control-field col-3">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput type="number" #hsn_code name="hsn_code" placeholder="HSN Code" [(ngModel)]="form.hsn_code" max="50" min="0" value="0" step="0.01">
                  </mat-form-field>
                </div>
               
                <div class="control-field col-3">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput type="number" #gst name="gst" placeholder="GST" [(ngModel)]="form.gst" max="50" min="0" value="0" step="0.01">
                  </mat-form-field>
                </div>
                
                <div class="control-field col-3">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput type="number" #stock_alert name="stock_alert" placeholder="Stock Alert" [(ngModel)]="form.stock_alert" max="50" min="0" value="0" step="0.01">
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row sprate-box">
                <div class="control-field col-3">
                  <!-- <mat-form-field class="example-full-width cs-input">
                    <input matInput #unit name="unit" placeholder="Unit of Measurement" [matAutocomplete]="measurement" [(ngModel)]="form.measurement">
                    <mat-autocomplete #measurement="matAutocomplete">
                      <mat-option *ngFor="let measurement of filteredMeasurements | async" [value]="measurement.name">
                        <small>{{ measurement.name }}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
                  
                  <mat-form-field class="cs-multi-select">
                    <mat-select placeholder="Measurement Type" name="unit" [(ngModel)]="data.measurement"  #unit="ngModel" required>
                      
                      <mat-option *ngFor="let list of measurementTypes" [value]="list.name">
                        <small>{{list.name}}</small>
                      </mat-option>
                      
                    </mat-select>
                  </mat-form-field>
                </div>
                
                
                <div class="control-field col-3">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="{{(data.measurement=='box' || data.measurement=='pc') ? 'No of Pcs' : 'Measurement Qty'}}" [(ngModel)]="form.measurement_value" type="number" name="measurement_value" #measurement_value="ngModel">
                  </mat-form-field>
                </div>
                
                
                <div class="control-field col-3">
                  <mat-form-field class="example-full-width cs-input inr-input">
                    <input matInput placeholder="Sale Price" #sale_price name="sale_price" [(ngModel)]="form.sale_price" type="number" name="sale_price">
                  </mat-form-field>
                </div>
                
                <div class="control-field col-3 pr70">
                  <mat-form-field class="example-full-width cs-input inr-input">
                    <input matInput placeholder="Purchase Price" #purchase_price name="purchase_price" [(ngModel)]="form.purchase_price" type="number" name="purchase_price">
                    
                  </mat-form-field>
                  
               
                </div>

                <div class="control-field col-3 pr70">

                  <mat-form-field class="example-full-width cs-input">
                          <textarea matInput placeholder="Description" class="h100" name="description" [(ngModel)] = "form.description" #description="ngModel"></textarea>
                          </mat-form-field>
           
                          <div class="plus-btn">
                            <a mat-raised-button color="warn" (click)="storeUnitData(unit.value, measurement_value.value,sale_price.value, purchase_price.value ,description.value)">
                              <i class="material-icons">add</i>
                            </a>
                          </div>
                </div>
                
                <div class="cs-table" *ngIf="!!unitData?.length">
                  <div class="header">
                    <table>
                      <tr>
                        <th>Measurement Type</th>
                        <th>Measurement Value</th>
                        <th>Sales Price (&#x20B9; )</th>
                        <th>Purchase Price (&#x20B9; )</th>
                        <th class="w100">&nbsp;</th>
                      </tr>
                    </table>
                  </div>
                  <div class="table-container">
                    <div class="table-body">
                      <table>
                        <tr *ngFor="let data of unitData;  let i = index">
                          <td>{{ data.measurement }}</td>
                          <td>{{ data.measurement_value }}</td>
                          <td>{{ data.sale_price }} </td>
                          <td>{{ data.purchase_price }} </td>
                          <td class="delete-icon text-center w100">
                            <a mat-button color="primary" (click)="removeUnitData(i)">
                              <i class="material-icons">delete_sweep</i>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row sprate-box">
                <div class="control-field col-4">
                  <mat-form-field class="example-full-width cs-input select-input">
                    <input #attr_type [name]="attr_type" matInput placeholder="Attribute Type" [matAutocomplete]="attrtype" [(ngModel)]="form.attr_type">
                    <mat-autocomplete #attrtype="matAutocomplete">
                      <mat-option *ngFor="let attrtype of filteredAttrTypes | async" [value]="attrtype.name">
                        <small>{{ attrtype.name }}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="control-field col-8 pr70">
                  <mat-form-field class="example-full-width  cs-input">
                    <input matInput placeholder="Attribute Options" #attr_options [name]="attr_options" [(ngModel)]="form.attr_options">
                  </mat-form-field>
                  <div class="plus-btn">
                    <a mat-raised-button color="warn" (click)="storeAttrData(attr_type.value, attr_options.value)">
                      <i class="material-icons">add</i>
                    </a>
                  </div>
                </div>
                <div class="cs-table" *ngIf="!!attrData?.length">
                  <div class="header">
                    <table>
                      <tr>
                        <th>Attribute Type</th>
                        <th>SAttribute Options</th>
                        <th class="w100">&nbsp;</th>
                      </tr>
                    </table>
                  </div>
                  <div class="table-container">
                    <div class="table-body">
                      <table>
                        <tr *ngFor="let data of attrData;  let i = index">
                          <td>{{ data.attr_type }}</td>
                          <td>
                            <div class="tags">
                              <span *ngFor="let option of data.attr_options;  let i = index ">{{ option }}</span>
                            </div>
                          </td>
                          <td class="delete-icon text-center w100">
                            <a mat-button color="primary"  (click)="removeAttrData(i)">
                              <i class="material-icons">delete_sweep</i>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cs-btn fixedd mt32 text-right" [ngClass]="{loading: sendingData}">
            <div class="in-btn">
              <button mat-raised-button color="primary" [attr.disabled]="sendingData">save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="h100"></div>
