<div class="main-container">
  <div class="master-heading">
    <div class="heading">
      <h1>CREATE INVOICE</h1>
    </div>
  </div>
  
  <div class="cs-spinner full-page" *ngIf = "loading_list">
    <div class="outer">
      <div class="innear">
        <mat-spinner></mat-spinner>
        <P>LOADING . . .</P>
      </div>
    </div>
  </div>
  
  <div  class="cs-container pt60">
    <div class="row">
      <div class="col-12">
        <div class="right-data pl0">
          <div class="contst h450 padding0">
            <mat-dialog-content class="convert-franchies-modle">
              
              <div class="m-body">
                <div class="row">
                  <div class="col-3 plan-list step1 shadow-none">
                    <div class="head">
                      <div class="cs-heading">
                        <ul class="side-tab">
                          <li class="active">
                            <a>Franchise</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="listing" >
                      
                      <mat-radio-group class="step1" (change)="clear();" [(ngModel)]="invoiceData.franchise_id">
                        <mat-radio-button *ngFor="let row of franchiseList" [value]="row.id">
                          <span class="name-counter" *ngIf="row.company_name">{{row.company_name?row.company_name[0].toUpperCase():''}}</span>
                          <span class="name-counter"*ngIf="!row.company_name">{{row.name?row.name[0].toUpperCase():''}}</span>
                          <div class="txt-box">
                            <p *ngIf="row.company_name">{{row.company_name}}</p>
                            <p *ngIf="!row.company_name">{{row.name}}</p>
                            <p>{{row.contact_no}}</p>
                          </div>
                          
                        </mat-radio-button>
                      </mat-radio-group>
                      
                    </div>
                    
                    
                    
                    <div class="sticky-btn">
                      <a (click)="addNew()"><i class="material-icons">add</i></a>
                    </div>
                  </div>
                  
                  <div class="col-9" *ngIf="invoiceData.franchise_id || invoiceData.customer_id">
                    <div class="form-field ">
                      <div class="row padding15 pt0 pb0 pr30">
                        <div class="control-field col-4">
                          <mat-form-field class="cs-multi-select">
                            
                            <mat-select placeholder="Organization" name="organization_id" (selectionChange)="change_org()" [(ngModel)]="invoiceData.organization_id"  required>
                              <mat-option *ngFor="let row of organization; let b = index"  [value]="row.id">
                                <small>{{ row.company_name }}</small>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        
                        <div class="control-field col-4">   
                          <mat-form-field class="cs-input cs-date-picker">
                            <input  placeholder="Invoice Date" [(ngModel)]="invoiceData.date_created" name="date_created" matInput [matDatepicker]="picker1"   >
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                          
                        </div>
                        
                      </div>
                    </div>
                    
                    <form name="invoiceForm" (ngSubmit)="f.form.valid && AddItem(f)" #f="ngForm" novalidate>
                      
                      <div class="form-field " *ngIf="invoiceData.organization_id">
                        <div class="row padding15 pt0 pb0 pr30">
                          <div class="control-field col-12 cs-heading">
                            <h2>SELECT SERVICE</h2>
                          </div>
                        </div>
                        
                        <div class="row padding15 pt0 pr30">
                          <div class="control-field col-3">
                            <mat-form-field class="cs-multi-select">
                              <mat-select placeholder="Category Name" name="category" [(ngModel)]="data.category" (selectionChange)="getServiceList()" required>
                                <mat-option *ngFor="let row of categoryList; let b = index" [value]="row.category">
                                  <small>{{ row.category }}</small>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          
                          
                          <div class="control-field col-3">
                            <mat-form-field class="cs-multi-select">
                              <mat-select placeholder="Service Name" name="service_id" [(ngModel)]="data.service_id" (selectionChange)="getDurationtList()" #service_id="ngModel" required>
                                <mat-option *ngFor="let row of serviceList; let b = index" [value]="row.id">
                                  <small>{{row.service_name}}</small>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            
                            
                          </div>
                          
                          <div class="control-field col-3">
                            <mat-form-field class="cs-multi-select">
                              <mat-select placeholder="Duration" name="duration_id" [(ngModel)]="data.duration_id" (selectionChange)="getDurationDetail()" #duration_id="ngModel" required>
                                <mat-option *ngFor="let row of durationList; let p = index" [value]="row.id">
                                  <small>{{row.value_of_duration +' '+ row.unit_of_duration}}</small>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          
                          
                          
                          
                          <div class="control-field col-2">
                            <mat-form-field class="example-full-width cs-input">
                              <input matInput placeholder="Amount" [(ngModel)]="data.amount" name="amount" readonly>
                            </mat-form-field>
                          </div>
                          
                        </div>
                        
                        <div class="row padding15 pt0 pr30">
                          <div class="control-field col-3">
                            <mat-form-field class="cs-input cs-date-picker">
                              <input placeholder="PLAN START DATE" [(ngModel)]="data.start_date" name="start_date" matInput [matDatepicker]="picker2" >
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                          </div>
                          
                          <div class="col-12" >
                            <div class="cs-btn outline mt32 mr12 text-right">
                              <div class="in-btn ">
                                <button type="submit" mat-raised-button color="primary" >Add To List</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </form>
                    
                  </div>
                  
                </div>
              </div>
            </mat-dialog-content>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div  class="row"  *ngIf="invoiceItemList.length && invoiceData.organization_id" >
      
      <div class="col-12">
        <div class="cs-table mt20 left-right-15">
          <div class="header">
            <table>
              <tr>
                <th>Service & Description</th>
                <th class="w80">SAC</th>
                <th class="w100">Duration</th>
                <th class="w120">Start Date</th>
                <th class="w100">Amount</th>
                <th class="w80 text-center" >Dis(%)</th>
                <th class="w100 text-center">Discount Amt</th>
                <th class="w100 text-center" *ngIf="invoiceData.cgst_amt">CGST</th>
                <th class="w100 text-center" *ngIf="invoiceData.sgst_amt">SGST</th>
                <th class="w100 text-center" *ngIf="invoiceData.igst_amt">IGST</th>
                <th class="w100 text-center" >Net Amount</th>
              </tr>
            </table>
          </div>
          <div class="table-container">
            <div class="table-body">
              <table>
                <tr *ngFor="let row of invoiceItemList; let i=index">
                  <td>{{row.category}}, {{row.service_name}}, {{row.description}} </td>
                  <td class="w80">
                    {{row.sac}}
                  </td>
                  <td class="w100">
                    {{row.duration}}
                  </td>
                  <td class="w120">
                    {{ row.start_date }}
                  </td>
                  <td class="w100">{{row.amount.toFixed(2)}}</td>
                  <td class="w80 text-center">
                    <div class="edit-td-input active">
                      <input placeholder="Dis %" [(ngModel)]="row.discount" type="number" (input)="discount_per_count(i)" [name]="'discount'+i" #discount="ngModel" class="wp100 pr0" [disabled]="row.extra_discount?true:false">
                    </div>
                  </td>
                  <td class="w100 text-center">
                    <div class="edit-td-input active">
                      <input placeholder="Discount" [(ngModel)]="row.discounted_amount" type="number" (input)="discount_amt_count(i)" [name]="'discounted_amount'+i" #discounted_amount="ngModel"  class="wp100 pr0" [disabled]="row.extra_discount?true:false">
                    </div>
                  </td>
                  
                  <td class="w100 text-center" *ngIf="invoiceData.cgst_amt">
                    <div class="tags">
                      <span class="tran">{{row.cgst_amt}}</span>
                      <span class="percs">{{row.cgst_per}}%</span>
                    </div>
                  </td>
                  
                  <td class="w100 text-center"  *ngIf="invoiceData.sgst_amt">
                    <div class="tags">
                      <span class="tran">{{row.sgst_amt}}</span>
                      <span class="percs">{{row.sgst_per}}%</span>
                    </div>
                  </td>
                  
                  <td class="w100 text-center" *ngIf="invoiceData.igst_amt">
                    <div class="tags">
                      <span class="tran">{{row.igst_amt}}</span>
                      <span class="percs">{{row.igst_per}}%</span>
                    </div>
                  </td>
                  <td class="w100 text-center">{{row.item_final_amount.toFixed(2)}}
                    <div class="action-btns">
                      <div class="outer">
                        <div class="innear">
                          <button mat-button (click)="RemoveItem(i)" class="delete"><i class="material-icons">delete_sweep</i> Delete</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="invoiceItemList.length && invoiceData.organization_id" class="row">
      <div class="col-8">&nbsp;</div>
      <div class="col-4">
        <div class="invoice-details">
          
          <table class="invoice-table">
            <tr>
              <td class="td">Item Total</td>
              <td class="w150 td">&#8377;  {{invoiceData.itemTotal.toFixed(2)}}
              </td>
            </tr>
            <tr >
              <td class="td">
                
                <div class="add-disc">
                  Discount({{invoiceData.netDiscountPer}}%)
                  <div class="basic-select">
                    <div class="basic-select">
                      <select  (change)="allItemDiscount()"  [(ngModel)]="invoiceData.extra_discount" name="extra_discount" #extra_discount="ngModel" style="background: transparent; border: 0px;" >
                        <option value="0">More</option>
                        <option value="1">1 %</option>
                        <option value="2">2 %</option>
                        <option value="3">3 %</option>
                        <option value="4">4 %</option>
                        <option value="5">5 %</option>
                        <option value="6">6 %</option>
                        <option value="7">7 %</option>
                        <option value="8">8 %</option>
                        <option value="9">9 %</option>
                        <option value="10">10 %</option>
                        <option value="11">11 %</option>
                        <option value="11">11 %</option>
                        <option value="12">12 %</option>
                        <option value="13">13 %</option>
                        <option value="14">14 %</option>
                        <option value="15">15 %</option>
                        <option value="16">16 %</option>
                        <option value="17">17 %</option>
                        <option value="18">18 %</option>
                        <option value="19">19 %</option>
                        <option value="20">20 %</option>
                        <option value="21">21 %</option>
                        <option value="22">22 %</option>
                        <option value="23">23 %</option>
                        <option value="24">24 %</option>
                        <option value="25">25 %</option>
                        <option value="26">26 %</option>
                        <option value="27">27 %</option>
                        <option value="28">28 %</option>
                        <option value="29">29 %</option>
                        <option value="30">30 %</option>
                      </select>
                    </div>
                    
                  </div>
                </div>
              </td>
              <td class="td">
                &#8377;  {{invoiceData.netDiscountAmount}}
              </td>
            </tr>
            
            <tr>
              <td class="td">Sub Total</td>
              <td class="w150 td">&#8377;  {{invoiceData.netGrossAmount.toFixed(2)}}</td>
            </tr>
            
            <tr *ngIf="invoiceData.cgst_amt > 0 && invoiceData.sgst_amt > 0" >
              <td class="td">
                <div class="gst-box">
                  <ul>
                    <li > 
                      ({{invoiceData.cgst_amt}})
                      <p>CGST </p>
                    </li>
                    <li class="w30"  >
                      <i class="material-icons">add</i>
                    </li>
                    <li >
                      ({{invoiceData.sgst_amt}})
                      <p>SGST </p>
                    </li>
                  </ul>
                </div>
                
              </td>
              <td class="td">{{invoiceData.netGstAmount}}</td>
            </tr>
            
            <tr *ngIf="invoiceData.igst_amt > 0">
              <td class="td">IGST</td>
              <td class="td">&#8377; {{invoiceData.igst_amt}}</td>
            </tr>
            <tr>
              <td class="td">Grand Amount</td>
              <td class="td">
                &#8377;  {{invoiceData.netAmount.toFixed(2)}}
              </td>
            </tr>
            
            <tr>
              <td class="td">Received Amount</td>
              <td class="td">  
                <input  class="simple-input w70" type="number" [(ngModel)]="invoiceData.receivedAmount" name="receivedAmount" #receivedAmount="ngModel"  (input)="onReceivedChangeHandler()" style="text-align: right;">                  
              </td>
            </tr>
            
            
            <tr *ngIf="invoiceData.receivedAmount >= 0 ">
              <td class="td">Mode</td>
              <td class="td">
                
                <select name="mode" [(ngModel)]="invoiceData.mode" (change)="changeMode()" required>
                  <option value="">Select Mode</option>
                  <option value="None">None</option>
                  <option value="Cash">Cash</option>
                  <option value="Cheque">Cheque</option>
                  <option value="Bank Transfer">Bank Transfer</option>
                  <option value="Payment Gateway">Payment Gateway</option>
                  <option value="NEFT">NEFT</option>
                </select>
                <p class="red-clr" *ngIf="!invoiceData.mode">This field is required</p>
              </td>
            </tr>
            
            <tr *ngIf="invoiceData.balance">
              <td class="td">Balance</td>
              <td class="td">&#8377; {{invoiceData.balance.toFixed(2)}}</td>
            </tr>
            <tr *ngIf="invoiceData.balance">
              <td class="td">Due Date</td>
              <td class="td">
                <mat-form-field class="cs-input cs-date-picker w100">
                  <input placeholder="DATE" [(ngModel)]="invoiceData.due_terms" name="due_terms"  matInput [matDatepicker]="picker" [required]="invoiceData.balance?true:false">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
            
          </table>
        </div>
      </div>
    </div>
    
    <div *ngIf="invoiceItemList.length && invoiceData.organization_id  && invoiceData.mode" class="row">
      <div class="col-12">
        <div class="dubble-btn">
          <div class="cs-btn mt32 mr12 text-right" [ngClass]="{loading: savingData}">
            <div class="in-btn ">
              <button (click)="(invoiceData.receivedAmount>0 &&  !invoiceData.mode && invoiceData.organization_id == '') ? '' : submit_sales_invoice()"  [disabled]="(invoiceData.receivedAmount>0 &&  !invoiceData.mode && invoiceData.organization_id == '') || (savingData)" mat-raised-button color="warn">CREATE INVOICE</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="h100"></div>