<div class="main-container">
    <div class="master-heading bcspace">
        <div class="vl-info">
            <ul>
              <li><p class="light">Total Direct customer : <span> &#8377;{{ totalcustomer }}</span></p></li>
              <!-- <li style='cursor:pointer;'><p class="pl30"><i class="material-icons icon">swap_vert</i><span>Sort</span></p></li> -->
            </ul>
          </div>
 
      <div class="top-search wp30 ml30">
          <input type="text" placeholder="SEARCH. . ." [(ngModel)]="filter.search"  (keyup.enter)="getcustomerList()">
          <i class="material-icons">search</i>
        </div>
        <!-- <input type="file" required (change)="fileChange($event)" placeholder="Upload Copy of Invoice" name="invoice_doc" accept=".png,.jpg,.jpeg" > -->
    
        <div class="top-pagination m-right-data">
          <ul>
            <li><p>Pages {{ current_page }} of {{ last_page }}</p></li>
            <li><button mat-button class="left-btn" (click) = 'redirect_previous()'><i class="material-icons">keyboard_arrow_left</i></button></li>
            <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getcustomerList()"></li>
            <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
          </ul>
        </div>
     
    </div>
    <div class="all-container">
          <div class="cs-spinner full-page" *ngIf = "loading_list">
              <div class="outer">
                  <div class="innear">
                      <mat-spinner></mat-spinner>
                      <P>LOADING . . .</P>
                  </div>
              </div>
          </div>
          <div class="cs-row">
              <div class="right-data">
                <div class="cs-table header-fixed" *ngIf="!loading_list && (customer_data.length > 0  || filtering ) " >
                  <div class="header">
                    <table class="sno-border">
                      <tr>
                          <th class="w50 border-right-none">S.no.</th>
                          <th class="w120">
                              <div class="filter">
                                      <mat-form-field class="cs-input cs-date-picker">
                                      <input placeholder="Date/Created By" [(ngModel)]="filter.date" name="date" matInput (dateChange)="getcustomerList()" [matDatepicker]="picker" >
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                            </th>
                          <th class="w150 text-center">Company name</th>
                          <th class="w150 text-center">Name</th>
                          <th class="w150 text-center">Contact</th>
                          <th class="w250 text-center">Address</th>
                         
                        </tr>
                      </table>
                    </div>
                    <div class="table-container">
                      <div class="table-body">
                        <table class="sno-border">
                          <tr  *ngFor="let val of customer_data; let i = index">
                            <td class="w50">{{i+1}}</td>
                            <td class="w120">{{val.created_at | date: 'dd MMM yyyy'}} / {{val.created_name}}</td>
                            <td class="w150 text-center">{{val.company_name}}</td>
                            <td class="w150 text-center">{{val.name}}</td>
                            <td class="w150 text-center">{{val.contact_no}}</td>
                            <td class="w250 text-center">{{val.address}}, {{val.countries_name}}, {{val.state}}, {{val.district}}, {{val.city}}, {{val.pincode}}</td>
    
    
                            <!-- <td class="w120 text-center"><a mat-button class="link" (click)="openDetail(val.id)">{{val.itemTotal}} </a></td>
                             <td class="w120 text-center">&#8377; {{val.itemPrice}}</td> 
                            <td >{{val.remark}}</td> -->
                          </tr>                                                    
                       </table>
                     </div>
                    </div>
              </div>   
            </div>
      </div>
    </div>
  </div>
  <div class="h100"></div>