<div class="main-container">
    <div class="master-heading">
        <div class="heading">
            <h1>MASTER's</h1>
        </div>
        <div class="top-search wp50 ml190">
            <input type="text" placeholder="SEARCH. . .">
            <i class="material-icons">search</i>
        </div>
        <div class="top-pagination m-right-data">
            <ul>
                <li><p>Pages 2 of 6</p></li>
                <li><button mat-button class="left-btn"><i class="material-icons">keyboard_arrow_left</i></button></li>
                <li><input type="text" placeholder="GO TO"></li>
                <li><button mat-button class="right-btn"><i class="material-icons">keyboard_arrow_right</i></button></li>
            </ul>
        </div>
    </div>
    <div class="cs-container">
        <div class="cs-row cs-tabs-space">
            
            <!-- TABS Component -->
            <app-master-listing-tabs></app-master-listing-tabs>
        
            <!-- TABS Component -->
            
            <div class="right-data tabs-listing">
                <div class="cs-table header-fixed">
                    <div class="header">
                        <table>
                            <tr>
                                <th class="w120">Plan Name</th>
                                <th class="w150">Description</th>
                                <th class="">Accessories</th>
                                <th class="">Initial Stock</th>
                            </tr>
                        </table>
                    </div>
                    <div class="table-container">
                        <div class="table-body">
                            <table>
                                <tr>
                                    <td class="w120">Plan name</td>
                                    <td class="w150">Lorem Lipsum</td>
                                    <td>
                                        <div class="tags">
                                            <span>bvyubtyu</span>
                                            <span>bvyubtyu</span>
                                            <span>bvyubtyu</span>
                                        </div> 
                                    </td>
                                    <td class="in-table">
                                        <table>
                                            <tr>
                                                <td>Brand Name</td>
                                                <td>Product Description</td>
                                                <td>10ml</td>
                                                <td>10ml</td>
                                            </tr>
                                            <tr>
                                                <td>Brand Name</td>
                                                <td>Product Description</td>
                                                <td>10ml</td>
                                                <td>10ml</td>
                                            </tr>
                                            <tr>
                                                <td>Brand Name</td>
                                                <td>Product Description</td>
                                                <td>10ml</td>
                                                <td>10ml</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h100"></div>
